absl-py==1.0.0
anyio==3.5.0
asgiref==3.5.0
autopep8==1.6.0
cachetools==5.2.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.1.0
colorama==0.4.4
cycler==0.11.0
fastapi==0.75.0
fonttools==4.33.3
ghp-import==2.1.0
google-auth==2.6.6
google-auth-oauthlib==0.4.6
griffe==0.22.0
grpcio==1.46.3
gym==0.21.0
h11==0.13.0
idna==3.3
importlib-metadata==4.11.4
Jinja2==3.1.2
kiwisolver==1.4.2
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
mergedeep==1.3.4
mkdocs==1.3.1
mkdocs-autorefs==0.4.1
mkdocs-gen-files==0.3.5
mkdocs-material==8.3.9
mkdocs-material-extensions==1.0.3
mkdocstrings==0.19.0
mkdocstrings-python==0.7.1
networkx==2.7.1
numpy==1.22.4
oauthlib==3.2.0
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
protobuf==3.20.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pydantic==1.9.0
Pygments==2.12.0
pymdown-extensions==9.5
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scipy==1.8.1
six==1.16.0
snakeviz==2.1.1
sniffio==1.2.0
stable-baselines3==1.5.0
starlette==0.17.1
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
toml==0.10.2
torch==1.11.0
tornado==6.1
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
watchdog==2.1.9
Werkzeug==2.1.2
zipp==3.8.0
